$bp-largest: 75em; // 1200px;
$bp-large: 68.75em; // 1100px;
$bp-small: 56.25em; // 900px;
$bp-smallest: 37.5em; // 600px;
$bp-small-xl: 31.25em; // 500px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-small-xl) {
    font-size: 45%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  // remove it later.
  min-height: 100vh;
}
